float[] salaries = { 234.324f, 23423.23f, 324.3f, 32423.34f };
       //{ 235.324f, 23424.23f, 325.3f, 32424.34f };
       /**
        * increment the value of the first data by 10 stored in the array
        */
       salaries[0] = salaries[0] + 10;
       System.out.println(salaries[0]);

       salaries[1] = salaries[1] + 10;
       System.out.println(salaries[1]);

       salaries[2] = salaries[2] + 10;
       System.out.println(salaries[2]);

       salaries[3] = salaries[3] + 10;
       System.out.println(salaries[3]);

       //Automatizacion del proceso con bucles
       for (int i = 0; i < salaries.length; i++) {
           salaries[i] = salaries[i] + 10;
           System.out.println(salaries[i]);
       }

       int i = 0;
       salaries[i] = salaries[i] + 10;
       System.out.println(salaries[i]);
       i++;

       salaries[i] = salaries[i] + 10;
       System.out.println(salaries[i]);
       i++;

       salaries[i] = salaries[i] + 10;
       System.out.println(salaries[i]);
       i++;

       salaries[i] = salaries[i] + 10;
       System.out.println(salaries[i]);